
body {
	font-family: 'Lato';
}
.fa-btn {
	margin-right: 6px;
}
h1,h2,h3{text-align: center;}

nav .container{
	background: url(../img/style/background.png);
	width: 100%;
	height: 93px;
	font-size: 1.4em;
}
/*nav .navbar-toogle{background: #933;}*/
nav .container .logo{position: absolute;left:20px;top:1px}
nav .container .navbar-right a{color: #efefef;}
nav .container .navbar-right a:hover{color: #fff;}

nav .sign{position: absolute;right:20px;top:60px;background: #933;}
nav .active{border-top: 2px #fff solid;}




p{text-align: justify;}
#app-layout{width: 100%}
#app-layout footer{background: #900;color:#fff;text-align: center;padding:10px 0;clear: both;width: 100%;}

#myCarousel{margin-bottom: 15px}
#myCarousel img{width:100%;}
.imgAcordeon{border: 2px #ccc solid;border-radius: 4px;}
.imgAcordeon .Img{width:49%;display:inline-block;vertical-align: top;text-align: left;}
.imgAcordeon .acord{width:49%;display: inline-block;height: 535px;}
.imgAcordeon h2{font-size: 1.4em;}
.imgAcordeon h3{font-size: 1.2em;background: #900;color: #fff;width: 100%;}

/*Mensajes*/
.success{width: 100%;color: #190;font-style: bold;text-align: center;}



@media screen and (max-width: 760px) {
    nav button img{height: 50px}
    nav button img:hover{opacity: .8}

    nav .navbar-collapse{text-align: right;margin-top: 1px;border: none}
    nav .navbar-collapse ul li{background: rgba(125,0,0,0.9);border-bottom: 1px solid rgba(255,200,200,0.5)}
    nav .navbar-collapse ul li:hover{background: rgba(175,0,0,0.9);}
    /*nav .container .navbar-right a{color: #333;}*/
	nav .container .navbar-right a:hover{color: #fff;}
	nav .active{border: none;color: #000;}
    
    .imgAcordeon .Img{width: 40%;margin-top: 20px;}
    .imgAcordeon .Img img{width: 100%;}
    .imgAcordeon .acord{width: 59%;height: auto;}
    iframe{height: 240px}
    
}


